/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Nav */
nav a {
    text-decoration: none;
    color: white;
  }
  
  .navbar-brand {
    display: inline-block;
    font-size: 2rem !important;
    font-weight: 700;
  }
  
  .navbar-brand span {
    font-size: 2rem !important;
    color: grey;
  }
  
  .navbar-nav {
    width: 100%;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
    color: white;
}

.content {
    height: 900px;
}


/*Section Image*/
.center {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 104px 0 110px;
    position: relative;
    width: 100%;
}


.center::before {
    background: rgba(0, 0, 0, 0.80) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}




/*** Center styling ***/
#center {
    background-image: linear-gradient(rgba(15, 13, 13, 0.3), rgba(5, 4, 46, 0.7)), url(../images/people-1.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#center h2 {
    color: #DDDDDD;
    font-size: 33px;

}

#center h4 {
    color: #DDDDDD;
    font-size: 18px;

}

.container1 {
    width: 100%;
}

.container1 h3 {
    font-size: 50px
}

.center {
    padding: 5% 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    font-size: 30px;
}

.center .left {
    padding: 2% 0;
    float: left;
    width: 50%;

}

.center .right {
    width: 50%;
    display: inline-block;
}

.center .right img {
    width: 100%
}

.center h3 {
    text-align: center;
    margin: 10px;
    align-items: center;
    font-size: 30px;
}

.center p {
    font-size: 1rem;
    margin: 40px auto;
    width: 80%
}


/* Media About Us */
@media(max-width:1200px) {

    .center p {
        font-size: .8rem;
        margin: 20px auto;
    }
}

@media(max-width:992px) {
    .center {
        width: 100%;
    }

    .center {
        width: 100%;
    }
}


.card img {
    height: 180px;
}

.card a{
    font-size: 1rem;
    color: #333;
}

.card .card-text{
    font-size: 13px;
}

#card-row #col .card-body{
    height: 200px;
} 


/**technology stocks css styles starts here**/

#wrapper {
    margin-top: 60px;
}

#wrapper .container {
    padding: 0 5rem 0 5rem;
}

#wrapper .container p {
    font-family: 'Open Sans', sans-serif;
}

#title-out {
    text-align: center;
}

#title-out .meta-bar {
    margin-bottom: 2rem;
}

#wrapper .meta-bar a {
    color: rgba(33, 33, 33, 0.55);
    text-decoration: underline;
}

#title-out h2{
   color: rgba(0, 0, 0, 0.75);
}

#title-out h1 {
    font-size: 1.8rem;
    margin-top: -2px;
}


#reports h4 a {
    color: #213138d6;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#reports h4 a:hover {
    text-decoration: underline;
}

/* currency rates styles starts here */

/* currency rates styles ends here */


#chart select{
    position: absolute;
    top: 60%;
}
/**technologystocks css styles ends here**/


