/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



/*Section Image*/
.about-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 104px 0 110px;
    position: relative;
    width: 100%;
}


.about-image::before {
    background: rgba(0, 0, 0, 0.80) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}




/*** About styling ***/
 #about {
    background-image: linear-gradient(rgba(15, 13, 13, 0.3), rgba(5, 4, 46, 0.7)), url(../IMAGES/people-1.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#about h2{
    color: #DDDDDD;
    font-size: 33px;
  
}

#about h4{
    color: #DDDDDD;
    font-size: 18px;
  
}

.container1 {
    width: 100%;
}

.container1 h3 {
    font-size: 50px
}

.about {
    padding: 5% 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    font-size: 30px;
}

.about .left {
    padding: 2% 0;
    float: left;
    width: 50%;
 
}

.about .right {
    width: 50%;
    display: inline-block;
}

.about .right img {
    width: 100%
}

.about h3 {
    text-align: center;
  
    margin: 10px;
    align-items: center;
    font-size: 30px;
}


.about p {
    font-size: 1rem;
    margin: 40px auto;
    width: 80%
}






/* Media About Us */
@media(max-width:1200px) {

    .about p {
        font-size: .8rem;
        margin: 20px auto;
    }
}

@media(max-width:992px) {
    .about {
        width: 100%;
    }

    .about {
        width: 100%;
    }
}