/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/*Main section styling*/
#skills {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(../IMAGES/chart2.jpg);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#skills h2 {
  color: #eaeaf1;
  font-size: 2.2rem;
  letter-spacing: 1px;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}


/* Adjust the padding for the wrapper section */
#wrapper {
  padding: 20px; /* You can adjust this value as needed */
}

#title-out {
  text-align: center;
}

#title-out .meta-bar {
  margin-bottom: 2rem;
}

#wrapper .meta-bar a {
  color: rgba(51, 51, 100, 0.678);
  text-decoration: underline;
}


/* styles for the chart */
.chart-container {
  position: relative;
  width: 80%;
  margin: 20px auto;
}

#chart {
  width: 100%;
  height: 400px; /* Set the height as needed */
}

/* styles for the job data display */
#explanation {
  margin-top: 20px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
#explanation p {
  margin-bottom: 10px;
}
.loading-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Styles for desktop and larger screens */


#filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#country-filter {
  max-width: 200px;
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  #skills {
    height: 30vh; /* Adjust the height for better responsiveness on mobile */
  }

  #skills h2 {
    font-size: 18px; /* Adjust font size for better readability on mobile */
    margin-top: auto; /* Add some space between the h2 text and the navbar on mobile */
  }
}
/* Styles for mobile and smaller screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px; /* Add some padding to the container on smaller screens */
  }

  #filter-container {
    flex-direction: column; /* Stack the label and select element on top of each other */
  }

  #country-filter {
    max-width: 100%; /* Make the select element full width on smaller screens */
  }
}


