
 .container{
    margin-top:120px;
    }
  
    .content{
      height: 900px;
    }

    #priceChart, #marketCapGraph {
      width: 100%;
      height: 400px;
  }
  .section-heading {
      color: #29711b;
     
  }
  .subsection-heading {
      color: #1d7b2f;
      margin-top: 30px;
      margin-left: 100px;
  }
  
  .heading{
      margin-top: 50px
  }

  .chart {
    width: 900px;
    height: 500px;
    margin: 30px auto;
     padding-right:160px 
  }

  /* #chart-containerrr{
    padding-right: 350px;

  } */

  .tooltip {
    position: absolute;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
  }

  .chart-title {
    font-size: 18px;
    font-weight: bold;
   
  }

  .axis-label {
    font-size: 14px;
    font-weight:bold ;
    margin-bottom: 100px;
  }

  .dot {
    fill: steelblue;
    stroke: #fff;
  }

  .dot:hover {
    fill: rgb(46, 228, 168);
  }

  .charts {
    width: 900px;
    height: 500px;
    margin: 30px auto;
  }

  .tooltips {
    position: absolute;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
  }

  .chart-title {
    font-size: 18px;
    font-weight: bold;
    text-anchor:start;
  }

  .axis-label {
    font-size: 14px;
    font-weight:bold ;
    margin-bottom: 100px;
  }

  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill:rgb(46, 228, 168);
  }


  /* Custom styles for spacing */
  body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.chart-section {
    margin-bottom: 40px;
}

.chart-description {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;

    .chart {
    max-width: 100%;
}
}

/* Blink animation */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.blink {
    animation: blink 1s infinite;
}
 
body.darkmode {
  background-color: #1A1B1F;
  color: #8a8a8a;
 }

/* The darkmode switch */
.dark-mode-switch {
margin-top: 70px;
position: fixed;
top: 30px;
right: 16px;
z-index: 9999;
}

.switch-label {
cursor: pointer;
font-size: 0.85em;
}

/* the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 44px;
height: 22px;
margin-left: 4px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #1A1B1F;
transition: .2s;
box-shadow: 2px 2px 3px #ffffff,
 -2px -2px 3px #bebebe;
}

.darkmode .slider {
box-shadow: 2px 2px 3px #34353a,
 -2px -2px 3px #000104;
}

.slider:before {
position: absolute;
content: "";
height: 18px;
width: 18px;
left: 3px;
bottom: 2px;
background: #9294b8;
-webkit-transition: .4s;
transition: .4s;
}

input:checked+.slider {
background-color: #f4f4f4;
}

input:checked+.slider:before {
transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
border-radius: 11px;
}

.slider.round:before {
border-radius: 50%;
}

  