* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

.darkmode .content {
  background-color: #1A1B1F;
  color: #8a8a8a;
}

.container {
  flex-wrap: wrap;
  overflow: hidden;
}

.darkmode .container {
  background-color: #1A1B1F;
  color: #8a8a8a;
}
.aside {
  flex: 1;
  padding: 20px;
  height: 400px;
  background-color: #f4f4f4;
  border-radius: 18px;
  box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff;
  margin-right: 20px;
  margin-left: 0px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.darkmode .aside {
  background: linear-gradient(145deg, #1c1d21, #17181c);
  box-shadow: 3px 3px 6px #101114,
    -3px -3px 6px #24252a;
}

.tabs-container {
  flex: 3;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 18px;
  box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff;
  margin-right: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
  overflow: auto;
}

.darkmode .tabs-container {
  background: linear-gradient(145deg, #1c1d21, #17181c);
  box-shadow: 3px 3px 6px #101114,
    -3px -3px 6px #24252a;
}

.tabs {
  justify-content: space-between;
  align-items: center;
}

.tabs a {
  cursor: pointer;
  padding: 12px 16px;
  text-decoration: none;
  color: #198754;
  text-align: center;
  font-weight: bold;
  border-radius: 18px;
  transition: background 0.1s, color 0.1s;
  background: linear-gradient(145deg, #ffff, #dcdcdc);
  box-shadow: 3px 3px 5px #bebebe,
    -3px -3px 5px #ffff;
}

.darkmode .tabs a {
  background: linear-gradient(145deg, #1c1d21, #17181c);
  box-shadow: 3px 3px 6px #101114,
    -3px -3px 6px #24252a;
}

.tabs a:hover {
  background: linear-gradient(145deg, #f4f4f4, #cecece);
  color: #8a8a8a;
}

.darkmode .tabs a:hover {
  background: #141414;
  color: #bbb;
}

/* Styling for active tab */
.tabs a.active {
  background-color: #f4f4f4;
  color: #bdbdbd;
  cursor: default;
  padding: 14px 22px 10px 26px;
  background: #f4f4f4;
  box-shadow: inset 3px 3px 5px #cbcbcb,
    inset -3px -3px 5px #ffffff;
}

.darkmode .tabs a.active {
  background: #1A1B1F;
  box-shadow: inset 3px 3px 6px #101114,
    inset -3px -3px 6px #24252a;
  color: #6a6a6a;
}

/* Style the tab content */
.tabcontent {
  padding: 0px;
  display: none;
  overflow: hidden;
  min-height: 300px;
}

.darkmode .tabcontent {
  background: linear-gradient(145deg, #1c1d21, #17181c);
  box-shadow: 3px 3px 6px #101114,
    -3px -3px 6px #24252a;
}

.tab-content .active {
  display: block;
}

.tabcontent p {
  margin-bottom: 12px;
}

.tabcontent p:last-child {
  margin-bottom: 0;
}

/* The darkmode switch */
.dark-mode-switch {
  margin-top: 70px;
  position: fixed;
  top: 30px;
  right: 16px;
  z-index: 9999;
}

.switch-label {
  cursor: pointer;
  font-size: 0.85em;
}

/* the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  margin-left: 4px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1A1B1F;
  transition: .2s;
  box-shadow: 2px 2px 3px #ffffff,
    -2px -2px 3px #bebebe;
}

.darkmode .slider {
  box-shadow: 2px 2px 3px #34353a,
    -2px -2px 3px #000104;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 2px;
  background: #9294b8;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #f4f4f4;
}

input:checked+.slider:before {
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 11px;
}

.slider.round:before {
  border-radius: 50%;
}

.header {
  display: flex;
  align-items: center;
}

.search-bar{
  width: 50%;
  margin-top: 35px;
}

.note {
width: 50%;
}

.suggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #f4f4f4;
  text-decoration: none;
}
.suggestion:hover {
  background-color: #f4f4f4;
}

.suggestion a {
  text-decoration: none;
  color: #198754;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0.5rem;
  padding: 0.5rem;
  border-right: 2px solid hsl(156, 78%, 40%);;
}

.weather-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.weather-icon.large {
  width: 80px;
  height: 80px;
}

.current-temp, .forecast-temp {
  font-size: 2rem;
}

.location {
  font-size: 1.5rem;
}

.country {
  font-size: 1rem;
}

.header-right {
  width: 50%;
  display: grid;
  justify-content: space-around;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.weather-alert {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.weather-alert .label {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
  color: red;
}

.air-quality {
  width: 100%;
  display: grid;
  justify-content: space-around;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.info-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
}

.info-sub {
  font-weight: lighter;
  font-size: 0.75rem;
}

.info-sub:last-child {
  margin-bottom: 0;
}

.daytime-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.daytime-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #198754;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.daytime-card-hour {
  font-size: 0.75rem;
  color: #198754;
  margin-top: 0.5rem;
}

.hour-section {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.hour-row > td {
  padding: 0.25rem 0.5rem;
  color: white;
  font-size: 0.75rem;
} 

.hour-details-row.hidden {
  display: none;
}

.hour-details-row.show {
  display: table-row;
}

.hour-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #f5f5f5;
}

.hour-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.week-section {
  width: 100%;
  display: grid;
  justify-content: space-between;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
}

.week-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #198754;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.week-card-hour {
  font-size: 1rem;
  color: #198754;
  margin-top: 0.5rem;
}

.data-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.locationtz {
  text-align: center;
}

.timezone {
  display: flex;
  align-items: center;
  justify-content: center;
}


svg {
  background-color: grey;
  width: 100%;
  height: 100%;
}

#heatmap-svg{
  width: 100%;
  height: 100%;
  min-height: 0;
}
.cell:hover{
  fill: black
}
g{
  color: #E0E3F0
}
#tooltip {
  position: relative;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px;
  font-size: 12px;
  z-index: 9999; /* Set a higher z-index value */
  white-space: nowrap;
  pointer-events: none;
}
#legend{
  color: rgb(56, 58, 74);
  font-size: 18px;
  text-align: center;
  min-height: 150px;
}

#x-axis, #y-axis{
  font-size: 14px;
  color: #E0E3F0;
}

.x-axis-label, .y-axis-label {
  font-size: 18px;
  color: #E0E3F0;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px;
}

#map {
  width: 100%;
  height: 80vh;
}

#map-legend {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.813);
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#map-legend .color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
}

#map-legend .label {
  white-space: nowrap;
}

#tutorial {
  height: 900px;
}
#spacer {
  height: 100px;
}

/* added styles to the back-to-top button */
.back-to-top {
  background-color: rgba(87, 85, 85, 0.7);
  position: fixed;
  display: none;
  right: 0px;
  bottom: 15px;
  z-index: 100;
  border: 2px solid #fff;
  border-radius: 10px;
  opacity: 0;
}

.back-to-top:hover {
  background-color: #fff;
  box-shadow: 5px 10px 25px #555;
}

.back-to-top i {
  color: #198754;
  font-size: 50px;
  padding: 5px;
}

.back-to-top i:hover {
  font-size: 50px;
  padding: 5px;
}

.keep {
  opacity: 0;
}

.open {
  opacity: 1;
  display: block;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .content {
    margin-top: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
  }
  
  .container {
    flex-direction: column;
  }
  
  .aside {
    order: 2;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;

  } 
  .tabs-container {
    order:1;
    flex: 1;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 4px;
  }
  
  .tabs {
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .tabs a {
  padding: 6px 10px;
  margin: auto;
  font-size: 14px;
  }
  
  .tabcontent {
    padding: 20px;
  }

  .search-bar {
    width: 70%;
    margin-top: 30px;
  }

  .note {
    font-size: 14px;
    width: 70%;
  }
}
